@use "./colors" as *;
@use "./fonts" as *;

.btnContainer {
  padding: 0.5rem;
  min-width: 5rem;

  & > * {
    background-color: transparent;
    border: none;

    i {
      font-size: 1.5rem;
      color: $secondaryClr;
    }
  }

  button:nth-child(1) {
    margin-right: 1rem;
  }
}

.enterBtn {
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: $fontBold;
  font-size: 15px;

  padding: 0.9rem 2rem;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.enterBtn:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.enterBtn:main,
.enterBtn:focus {
  user-select: auto;
}

.enterBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.enterBtn:disabled {
  cursor: auto;
}
