@use "./fonts" as *;
@use "./colors" as *;

.createModal {
  padding: 2rem 3rem;
  background-color: $accentClr;
  border: none;

  word-break: break-all;
  color: white;
  position: relative;

  &::-webkit-backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  &::backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  .modalTitle {
    font-size: 2.5rem;
    background-color: transparent;
    padding-bottom: 0.5rem;
    border: 0;
    font-family: $fontBold;
    color: $primaryClr;
    width: 100%;
    resize: none;
    scrollbar-width: none;
  }

  .modalBody {
    @extend .modalTitle;
    font-family: $fontLight;
    font-size: 1.5rem;
    margin-top: 1.5rem;

    scrollbar-width: thin;
  }
}
